html{
  box-sizing: border-box;
font-family: 'Dosis', sans-serif;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  margin: 0 auto;
}

header {
  font-family: dosis;
  text-align: center;
  background-image: url("../images/subtle_white_mini_waves.jpg");
  background-repeat: repeat;
}

header h1 {
  font-size: 3em;
  margin: 0;
  padding: .5em;
  background-image: url("../images/noun_59034_cc.svg"), url("../images/noun_59034_cc.svg");
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 1em, 1em;
  text-align: center;
  color: #512200;
  margin-left: 2.5%;
  width:95%;
}

nav li {
  float: left;
  display: inline-block;
  width: 25%;
  background-color: #663311;
  padding: .5em;
  text-align: center;
  font-family: dosis, sans;
  opacity: .5;
  color: white;
  font-size: 1.5em;
}

nav ul{
  overflow: hidden;
  margin: auto;
  width: 100%;
  padding: 0;
}

nav li:hover{
  opacity: .8;
}

.rocks img {
  width: 100%;
}

.rocks h2 {
  margin: 0;
  top: -92px;
  position: relative;
  color: white;
  background: linear-gradient (to bottom, rgba(0,0,0,0), rgba(0,0,0,0.50));
  padding-bottom: 26px;
  margin-bottom: -92px;
  margin-bottom: -112px;
  font-size: 2em;
}

.rocks {
  position: relative;
  text-align: center;
  margin-bottom: -66px;
}

main img {
  width: 100%;
}

figure {
  width: 50%;
  float: left;
  display: block;
  margin: 0;
  position: relative;
  margin-bottom: -4px;
}

header a{
  color: white;
  text-decoration: none;
}

footer img {
  width: 2em;
  margin: 10px;
}

footer {
  text-align: center;
  background-color: #a79082;
}

figure figcaption {
  display: block;
  position: absolute;
  width: 60%;
  bottom: 1em;
  left: 25%;
  text-align: center;
  color: #fff;
  font-size: 1em;
  background-color: #388200;
  background-image: linear-gradient(to bottom, #6fc000, #388200);
  padding: 0.5em;
  border-radius: 20px;
  box-shadow: 0px 3px 10px #000;
}

figure figcaption:hover{
  background-color: #388200;
  background: linear-gradient(to bottom, #388200, #214d00);}
